# APP ID should be numeric
APP_ID=
APP_KEY=

APP_SECRET=
APP_ENV=development

PUBSUB_MANAGER=redis
STORAGE_MANAGER=redis

REDIS_URL=redis://localhost:6379
USE_TLS=false

LOG_LEVEL=trace


## OPTIONAL
## CLEANER_INTERVAL is how often the cleaner job will run; really only applies to redis connections
CLEANER_INTERVAL=20
PONG_TIMEOUT=30

## ACTIVITY_TIMEOUT is sent to the client, and will be the ping interval
ACTIVITY_TIMEOUT=60

MAX_PRESENCE_USERS=100
MAX_PRESENCE_USER_DATA_KB=10
REDIS_PREFIX="pusher"
BIND_PORT=6001
BIND_ADDR=0.0.0.0