# APP ID should be numeric
APP_ID=
APP_KEY=

APP_SECRET=
APP_ENV=development


REDIS_URL=redis://localhost:6379
REDIS_USE_TLS=false

LOG_LEVEL=trace

## OPTIONAL

## APP_ACTIVITY_TIMEOUT is sent to the client, and will be the ping interval
APP_ACTIVITY_TIMEOUT=60

APP_MAX_PRESENCE_USERS=100
APP_MAX_PRESENCE_USER_DATA_KB=10
REDIS_PREFIX="pusher"
BIND_PORT=6001
BIND_ADDR=0.0.0.0